* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.outer {
  width: 300px;
  height: 504px;
  background-color: #a3a8a6;
  border-radius: 10px;
  margin: 100px auto;
  position: relative;
}
.inner {
  width: 240px;
  height: 300px;
  margin: 10px auto;
  position: relative;
  background-image: url("https://img.freepik.com/premium-vector/gold-dust-transparent-black-background_86826-1008.jpg?w=740");
  background-position: center;
  overflow: hidden;
  border-radius: 10px;
}
.aurinner {
  background-image: linear-gradient(90deg, #a526c22c, #2e9e9e43);
  width: 100%;
  height: 100%;
  filter: blur(2px);
  position: absolute;
  top: 0;
  left: 0;
}
.result {
  background-image: linear-gradient(#45c2262c, #42f9f943);
  background-color: #ff1e0065;
  color: white;
  font-weight: 800;
  width: 100%;
  text-align: center;
  place-content: center;
  font-size: 60px;
  height: 100%;
  z-index: 5px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: cursive;
}
.btns {
  /* background-color: blue; */
  margin: 0 auto;
  text-align: center;
}

.btn:nth-child(2) {
  margin-left: 20px;
  padding: 7px 12px;
}
.btn:active {
  box-shadow: 0px 0px 3px black;
  scale: 0.99;
}
body {
  background-color: black;
}
.btn {
  padding: 7px 10px;
  cursor: pointer;
  background-color: #e1e1e146;
  border-radius: 8px;
  box-shadow: 2px 2px 10px black;
  transition: all 0.1s;
  color: #000000;
  border: none;
  outline: none;
}
.heading {
  /* background-color: blue; */
  text-align: center;
  font-size: 27px;
  padding: 2px 0;
}
.fa-arrows-rotate {
  color: #ff3c3c;
  margin: 5px 10px 0 10px;
  cursor: pointer;

  padding: 6.5px 22px 5.5px 6px;
  background-color: rgb(17, 17, 110);
  border-radius: 50px;
  outline: 1px solid yellow;
  user-select: none;
  transition: all 0.1s;
}
.fa-arrows-rotate:active {
  transform: rotate(60deg);
}
.auto {
  margin: 0;
  width: 100px;
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.num {
  width: 90px;
  height: 30px;
  position: absolute;
  bottom: 10%;
  /* padding-left: 9px; */
  text-align: center;
  border-radius: 4px;
  border: none;
  left: 50%;
  transform: translate(-50%, -50%);
}
